.frameowak{


  &.title{
    width: 100% !important;
    margin: 20px 0 10px 0;
  }

  &.landing{

    .row.top-row.region-row {
      margin-bottom: 20px;
  }

  .row.bottom-row.region-row{
    border-top: 1px solid #e4e4e4;

    h3{
      text-align: center !important;
    }
  }



    .col.one-quarter{

      .menu a{
        background: #fb9d42 !important;
      &.active {
        background-color: #d80029 !important;
    }
  }
    }



    .panel-pane.pane-node-title{
      float: initial !important;
      width: 100% !important;

      h1{
    text-align: center;
    color: #d80029!important;
    width: 85%!important;
    margin: 0 auto;
      }
    }

    .panel-pane.pane-title-pane.carousel-header {
      width: 100%;
  }

  }

  &.article{

    .external-link{
      background: #f68b23;
      display: block;
      margin: 0 auto;
      width: fit-content;
      padding: 10px 20px;
      color: #FFF;
      margin-top: 10px;

      .ext{
        display: none;
      }
    }

    .mb-25{
    margin-bottom: 25px;
    }

    .mt-35{
      margin-top: 35px;
    }

    .pane-node-field-header-image {
      margin-bottom: 20px;
  }

    .background--red{
      background: #d80029;
      background-image: url(https://www.mamasalrescate.com/sites/otc_mx/files/pattern-heart.png);
      padding: 20px;
      box-sizing: border-box;



      &--title{
        padding: 10px 40px;
      }

      &--hero{
        padding: 5px 20px;
      }

      p{
        color: #FFF !important;
      }


      h2{
        font-size: 1.2em;
        color: #fff;
        line-height: 1.2em;
        margin: 0;
      }

      .header {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        margin-top: 10px;

        &__number {
          width: 30px;
          height: 30px;
          background: #f68b23;
          border-radius: 50%;
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 1.2em;
          margin-right: 10px;
      }
      p{
        margin: 0 !important;
      }
    }


    }

    .background--decoration{
      position: relative;
      padding: 10px 0 10px 70px;
  
      h2{
        font-size: 1.1em;
      }
  
      img{
        width: 50px;
        position: absolute;
        left: 10px;
        top: 50%;
        transform: translateY(-50%);
      }
    }


      & > *{
        color: #FFF;
      }

      p{
        color: #626363;
        font-size: .9em;
        line-height: 1.6em;
      }
      ul{
        margin: 30px 0;
        padding: 0;
        list-style: none;
        

       li{
        position: relative;
        color: #626363;
        margin-bottom: 10px;
        font-size: .9em;
        padding-left: 20px;
        list-style: none;

        &:before{
          content: "";
          position: absolute;
          width: 9px;
          height: 9px;
          left: 0;
          top: 5px;
          background-image: url(https://www.mamasalrescate.com/sites/otc_mx/files/heart.png);
          background-size: cover;
      }
    }


    }




  }

  &.landing__box{


    background-image: url(https://www.mamasalrescate.com/sites/otc_mx/files/pattern-heart.png);
    background-size: 455px;
    background-repeat: repeat;
    background-position: -38px 20px;


    .image-col .field__item.even{
      height: 250px;
      overflow: hidden;
    }

    .image-col .field__item.even img{
      width: 100%;
      object-fit: cover;
      object-position: center;
    }
  }

  &.taco{
    
    .clearfix:after{
      display: none;
    }

    &--red{

        background-color: #d80029;

    }

    &--orange{
        background-color: #fb9d42;
    }



    .taco-inner .node .content .content-col{
      padding: 10px 15px 55px!important;
      margin-bottom: 0;
    }

    &.landing__box{
      
      .taco-inner .node .content .content-col{
        padding-bottom: 20px !important;
      }
    }


    .pane-taco-pane, .node--taco {
      background: transparent;
  }

    .taco-inner .node .content .taco-title{
      border-bottom: 1px solid #fff;
      padding-bottom: 8px;
      width: fit-content;
      padding-right: 50px;
      font-size: 1em;
    }

    .taco-inner .node .content .taco-title a{
      color: #FFF;
      text-decoration: none;
    }

    .taco-inner .node .content .taco-title span{
      display: none;
    }

    .taco-inner .node .content .field p{
      color: #FFF;
    }

    .taco-inner .node .content .taco-title:after{
      content: "";
      width: 80%;
      height: 1px;
      background: #FFF;
      position: absolute;
      left: 0;
      bottom: 0;
    }

    .taco-inner .node .call-to-action{
      position: relative !important;
      padding-bottom: 15px !important;
    }

    .taco-inner .node .call-to-action .field-collection-container{
      width: 50%;
      display: block;
      margin: 0 auto;
    }
    
    .node--taco .field--name-field-taco-link-call-to-action a{
      border-radius: 5px;
      text-align: center;
      padding: 10px 25px 10px 10px;
      font-size: 1em;
      background: #f68b23 !important;
    }

    .taco-inner .node .call-to-action > *{
      outline : none;
      border : 0;
    }

  }

}

